.navbar{
    background-color: maroon;
    display: flex;
    justify-content: space-around;
    padding: 5px 20px;
    color: white;
}
button{
    padding:10px 25px ;
    background-color: rgb(126, 126, 255);
    outline: none;
    border-radius: 5px;
    margin-right: 20px;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bolder;
}